# Virtual environment
.venv/
venv/

# IDE files
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# Dataset files (if large/sensitive)
*.csv
*.data
*.json

# Jupyter
.ipynb_checkpoints/

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log